html,body,div,h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
  background: #F2B0C0;
}

/* html {
  height: 600px;
} */

body {
  font-family: 'Roboto', sans-serif;
  color: #011627;
  font-weight: 400;
  width: 500px;
  background-color: #F6F7F8;
}

#container {
  padding: 24px;
  overflow-y:scroll;
  /* height: 600px; */
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

input {
  width: 100%;
  height: 40px;
  padding: 16px;
  font-size: 16px;
  outline-color: #20A4F3;
  margin-bottom: 16px;
}

p {
  line-height: 24px;
}

#subtitle_text {
  padding-bottom: 60px;
}

#submit_button {
  position: fixed;
  left: 100px;
  bottom: 16px;
  height: 48px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 2px rgba(1, 22, 39, 0.24);
  color: #F6F7F8;
  text-transform: uppercase;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

.normal_button:hover{
  background-color: #37AAF0;
  box-shadow: 0px 0px 10px 3px rgba(1, 22, 39, 0.24);
}

.normal_button {
  background-color: #20A4F3;
}

.feedback_button {
  background-color: #2EC4B6;
}

.negative_feedback_button {
  background-color: #FF3366;
}
